<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <% include ./partials/stylesheets %>
</head>
<% include ./partials/navbar %>
<body>
  <div class="wrapper">
    <main class="container">
      <% for (const type in messages) { %>
        <p class="alert alert-<%= type %>"><%= messages[type] %></p>
        <% } %>
        <%- body %>
      </main>
      <% include ./partials/scripts %>
    </div>
  </body>
  <% include ./partials/footer %>
  </html>
