<h1>Characters</h1>

<form class="searchForm" action="characters/searchresults" method="post">
  <input id="search" type="text" name="searchResults" placeholder="Find your favourites">
  <button type="submit" name="button" class="searchButton"><span class="glyphicon glyphicon-search"></span> Search</button>
</form>

<div class="slick-container">
  <% characters.forEach((character) => { %>
    <div>
    <a href="/characters/<%= character._id %>"><%= character.name %></a>
      <img src="<%= character.image %>">
    </div>
  <% }); %>
</div>
