<h1>comics</h1>
<div class="slick-container">
  <% comics.forEach(comic => { %>
    <img src="<%= comic.image %>/portrait_xlarge.jpg">
    <h4><a href="/comics/<%=comic._id %>"><%= comic.title %></h4>
    <% }); %>
  </div>
