<h1>comics</h1>
<ul>
  <% comics.forEach(comic => { %>
   <li>
      <img src="<%= comic.image %>/portrait_xlarge.jpg">
      <h4><a href="/comics/<%=comic._id %>"><%= comic.title %></h4>
   </li>
  <% }); %>
</ul>
