@font-face {
	font-family: 'TradeGothicBold';
	src: url('../fonts/TradeGothicBold.eot');
	src: url('../fonts/TradeGothicBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TradeGothicBold.woff') format('woff'),
		url('../fonts/TradeGothicBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
