.homePageImage {
  width: 100%;
  height: 100%;
}

.hulkGif {
  width: 100%;
}

.videoPageImage {
  width: 100%;
  height: 500px;
  margin-left: 0;
  z-index: -1;
  opacity: 0.7;
}

.userCharacterImage {
  display: inline;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
