.navbar-brand > img {
  height: 100%;
}

.navbar-brand {
  padding: 0;
}

.navbar-inverse {
  border-radius: 0;
  background: black;
  border: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #b5b5b5;
  font-family: TradeGothicBold;
  text-transform: uppercase;
  font-size: 1.5rem;
}
