@import 'fonts';
@import 'navbar';
@import 'carousel';


html, body {
  font-family: sans-serif;
  background: #090625;
  height: 100%;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff33e;
  font-family: TradeGothicBold;
  text-transform: uppercase;
}

.btn-primary {
  background: #f0141e;
  color: white;
  text-shadow: none;
  &:hover {
    background: #fff33e;
    color: black;
  }
}

.btn {
  border-radius: 0;
  border: 0;
  font-family: TradeGothicBold;
  font-size: 1em;
  text-transform: uppercase;
}

.alert-info {
  background: black;
  color: #fff33e;
  border: 1px solid #fff33e;
  border-radius: 0;
}
