@import 'fonts';
@import 'navbar';
@import 'buttons';
@import 'forms';
@import 'images';
@import 'videos';
@import 'alerts';
@import 'text';


html, body {
  font-family: TradeGothicBold, sans-serif;
  background: #090625;
  height: 100%;
  color: white;
}
