@import 'fonts';
@import 'navbar';
@import 'buttons';
@import 'forms';
@import 'images';
@import 'videos';
@import 'alerts';
@import 'text';
@import 'footer';


html, body {
  font-family: TradeGothicBold, sans-serif;
  background: #090625;
  height: 100%;
  color: white;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.profilePage {
  text-align: center;
  display: block;
}

.slick-container {
  margin-top: 100px;
  margin-bottom: 0px;
}
