<div class="slick-container">
<% if(results !== undefined) { %>
  <% results.data.forEach(search => { %>
    <div class="">
    <h5><%= search.name %></h5>
    <a href="<%= search.resourceURI %>"><img src="<%= search.thumbnail.path%>/portrait_xlarge.jpg"></a>
    <p><%= search.description %></p>
    <button type="submit" class="characterSubmit" name="button">Add to Team</button>
    </div>
    <% }); %>
    <% } %>
  </div>

  <%# http://gateway.marvel.com/v1/comics?ts=1&apikey=1234&hash=ffd275c5130566a2916217b101f26150%>
